/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* CSS code */

/* Typography */
/* * {
  border: 2px solid red;
} */

body {
  font-family: monospace;
  font-size: 24px;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.exercise-part > * {
  margin: 12px auto;
}
h1 {
  font-size: 52px;
}

h2 {
  font-size: 32px;
  margin-bottom: 16px;
}

.e1-box {
  width: 200px;
  height: 200px;
  background-color: #dafad4;
  border: 20px solid #add8e6;
  box-shadow: 0 0 0 5px black;
  outline: 20px solid #ed7f80;
  outline-offset: 5px;
  margin: 32px auto;
}

.e1-list {
  list-style: none;
  padding-left: 0;
}
.e1-list-item {
  display: inline-block;
  font-size: 16px;
  margin-right: 16px;
}

.e1-list-item-circle {
  display: inline-block;
  background-color: black;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-right: 4px;
}

.content {
  background-color: #dafad4;
}

.padding {
  background-color: #add8e6;
}

.border {
  background-color: black;
}

.margin {
  background-color: #ed7f80;
}

.parent-box {
  width: 600px;
  box-sizing: content-box;
  border: 1px solid black;
  font-size: 0;
}

.child-box {
  display: inline-block;
  box-sizing: content-box;
  width: 180px;
  height: 100px;
  background-color: #ccc;
  margin: 10px;
}

.border {
  border: 1px solid black;
}

.borderbox {
  box-sizing: border-box;
}

hr {
  height: 1px;
  width: 520px;
  border: 0;
  border-top: 1px dashed #ccc;
  margin: 48px auto;
  padding: 0;
}
